# Backend
backend/target/
backend/.idea/
backend/*.iml
backend/.DS_Store

# Frontend
frontend/build/
frontend/.dart_tool/
frontend/pubspec.lock
frontend/.env
frontend/.DS_Store

# Général
.DS_Store
*.log
*.swp
*.swo
.vscode/
.env
